.box1 {
  background-color: orange;
  flex-grow: 1;
  text-align: right;
}
.box2 {
  background-color: blueviolet;
  flex-grow: 2;

}
.box3 {
  background-color: brown;
  flex-grow: 3;
  height: 200px;
}
.box4 {
  background-color: red;

}
.box5 {
  background-color: green;
}
.box6 {
  background-color: indianred;
}
.box7 {
  background-color: indigo;
  align-self: center;
}
.box8 {
  background-color: teal;
  align-self: flex-end;
}

.flexbox {
  display: flex;
  border: 1px solid red;
  justify-content: center;
  /* flex-start | flex-end | center 
    space-between | space-around | space-evenly */
  align-items: flex-start;
  /* stretch  | flex-start | flex-end
    Center*/
  /* gap: 50px; */
  /* gap: 20px; */
 gap: 20px;
}
